
.container{
  padding: 0 30px;
}
.row{
  margin: 0 -10px;
  &:after {
      display: table;
      clear: both;
      content:'';
  }
}
.pull-left{
  float: left;
}
.pull-right{
  float: right;
}
.clearfix{
  clear: both;
}
.text-center{
  text-align: center;
}
