
.main_service_area{
    padding: 50px 0;
    background: $white-color;
    text-align: center;
    border-bottom: 1px solid $border-color;
}
.grid-item {
    .content-text{
        h3{
            color: $primary-color;
            padding: 15px 0;
        }
        h4{
            color: #444444;
        }
        p{
            margin-bottom: 15px;
        }
    }
    .btn--primary{
        margin: 0 auto;
    }
}
.latest_blog{
    padding: 50px 0;
    background: $white-color;
    .grid-item{
        img{
            max-width: 100%;
            padding: 5px;
            background: $white-color;
            @include border-radius(3px);
            -webkit-box-shadow: 0px 0px 1px 1px #e2e2e2;
            -moz-box-shadow: 0px 0px 1px 1px #e2e2e2;
            box-shadow: 0px 0px 1px 1px #e2e2e2;
        }
    }
}
.head_title p {
  color: #6A6A6A;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 30px;
}
.separator {
  height: 5px;
  margin: 10px auto;
  width: 100px;
  background: #81b300;
}
