.page-footer {
  background: $footer-bg;
  .footer-info {
    padding: 30px;
    color: $second-color;
    .footer-links { 
      li {
        padding: 5px 0;
        border-bottom: 1px solid $second-color;
        &:first-child {
          padding-top: 0;
        }
        a {
          color: $second-color;
        }
      }
    }
  }
  .copyright {
    padding: 20px 30px;
    background: $copyright-bg;
  }
}
