$primary-color: #81b300;
$second-color: #888888;
$border-color: #cccccc;
$font-family: Georgia, Times, "Times New Roman", serif;
$base-font-size: 13px;
$base-font-weight: 400;
$shadow-color: #e2e2e2;
$title-color: #121212;
$background: #eee;
$background-icon: #1f1f1f;
$background-icon-hover:#00acee;
$white-color: #ffffff;
$footer-bg: #3b3b3b ;
$copyright-bg: #2e2e2e;
