$primary-color: #81b300;
$second-color: #888888;
$border-color: #cccccc;
$base-font-size: 13px;
$base-font-weight: 400;
$background: #1f1f1f;
$white-color: #ffffff;
$footer-bg: #3b3b3b ;
$copyright-bg: #2e2e2e;