
button, .btn {
  width: 50%;
  text-align: center;
  color: $white-color;
  border: 1px solid $border-color;
  display: block;
  padding: 8px 15px;
  cursor: pointer;
}
.btn--primary {
  @include border-radius(20px);
  background: $primary-color;
}
